@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-mono: "Amiri", serif; /* Fallback font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-geist-mono: "Amiri", serif; /* Fallback font */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

/* Spinner */
.spinner-border {
  border-color: #fff;
  border-style: solid;
}
